In [247]:
import pandas as pd
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=RON\SQLEXPRESS;'
                      'Database=TestDB;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

sql_query = pd.read_sql_query('SELECT * FROM TestDB.dbo.Person',conn)
sql_query.to_csv('output.csv')

In [246]:
customer=pd.read_csv(r'C:\Users\syedkhadarvalli\output.csv')
customer.head()

,Unnamed: 0,customer_id,name,email,membership_age,revenue,preferred_film_language,preferred_film_category,city_id,city,preferred_film_year
0,0,1,MARY_SMITH,MARY.SMITH@sakilacustomer.org,0 days 06:52:44.000000000,118.68,"English,Italian,Japanese,Mandarin,French","Sports,Sci-Fi,Animation,Drama,Comedy",463,Sasebo,00s
1,1,2,PATRICIA_JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,0 days 06:52:44.000000000,128.73,"English,Italian,Japanese,Mandarin,French","Sports,Sci-Fi,Animation,Drama,Comedy",449,San Bernardino,00s
2,2,3,LINDA_WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,0 days 06:52:44.000000000,135.74,"English,Italian,Japanese,Mandarin,French","Sports,Sci-Fi,Animation,Drama,Comedy",38,Athenai,00s
3,3,4,BARBARA_JONES,BARBARA.JONES@sakilacustomer.org,0 days 06:52:44.000000000,81.78,"English,Italian,Japanese,Mandarin,French","Sports,Sci-Fi,Animation,Drama,Comedy",349,Myingyan,00s
4,4,5,ELIZABETH_BROWN,ELIZABETH.BROWN@sakilacustomer.org,0 days 06:52:44.000000000,144.62,"English,Italian,Japanese,Mandarin,French","Sports,Sci-Fi,Animation,Drama,Comedy",361,Nantou,00s

In [240]:
y=[]
for i in film.release_year:
    if i > 2010:
        y.append('New')
    elif i > 2000:
        y.append('00s')
    elif i > 1990:
        y.append('90s')
    elif i < 1990:
        y.append('old')